In [1]:
import os
import pandas as pd

In [2]:
silver_path = os.path.join(os.curdir, "Data_Lake","Silver")
gold_path = os.path.join(os.curdir, "Data_Lake","Gold")

In [3]:
silver_file_name = "atletas_silver.csv"
gold_file_name = "atletas_gold.csv"

In [4]:
silver_file_path = os.path.join(silver_path,silver_file_name)
gold_file_path = os.path.join(gold_path,gold_file_name)

In [5]:
silver_atletas_df  = pd.read_csv(silver_file_path)

In [6]:
silver_atletas_df.head()

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,_BronzeTimestamp,Country
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,2025-11-06 16:43:18.047773,China
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,2025-11-06 16:43:18.047773,China
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773,Netherlands
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,2025-11-06 16:43:18.047773,Netherlands
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773,Netherlands

In [7]:
#Solo me quiero quedar con los jjoo de verano, asi que procedo a eliminar las filas de los atletas de jjoo de invierno
silver_atletas_verano_df = silver_atletas_df

In [8]:
silver_atletas_verano_df = silver_atletas_verano_df[silver_atletas_verano_df['Season'] == "Summer"]

In [9]:
silver_atletas_verano_df['Season'].value_counts(dropna = False)

Season
Summer    158147
Name: count, dtype: int64

In [10]:
silver_atletas_verano_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158147 entries, 0 to 199830
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                158147 non-null  int64
 1   Name              158147 non-null  object
 2   Sex               158147 non-null  object
 3   Age               157318 non-null  float64
 4   Height            151117 non-null  float64
 5   Weight            150854 non-null  float64
 6   NOC               158147 non-null  object
 7   Games             158147 non-null  object
 8   Year              158147 non-null  int64
 9   Season            158147 non-null  object
 10  City              158147 non-null  object
 11  Sport             158147 non-null  object
 12  Event             158147 non-null  object
 13  Medal             22634 non-null   object
 14  _BronzeTimestamp  158147 non-null  object
 15  Country           158147 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 20.5+ MB

In [11]:
#Creo carpeta
os.makedirs(gold_path, exist_ok=True)

In [12]:
silver_atletas_verano_df.to_csv(gold_file_path, index=False)