In [1]:
import os
from datetime import datetime

import pandas as pd

In [2]:
source_file_path = os.path.join(os.curdir,"Datos","athlete_events_reduced_dimas.csv")

In [15]:
bronze_file_name = "atletas_bronze.csv"
bronze_path = os.path.join(os.curdir, "Data_Lake","Bronze")
bronze_file_path = os.path.join(bronze_path,bronze_file_name)

In [16]:
atletas_df = pd.read_csv(source_file_path)

C:\Users\dimit\AppData\Local\Temp\ipykernel_46076\1497197699.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  atletas_df = pd.read_csv(source_file_path)

In [17]:
atletas_df.head()

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0.0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1.0,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,4.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,6.0,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [18]:
atletas_df['_BronzeTimestamp'] = datetime.now()

In [19]:
atletas_df.head()

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,_BronzeTimestamp
0,0.0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,2025-11-06 16:43:18.047773
1,1.0,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,2025-11-06 16:43:18.047773
2,4.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773
3,5.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,2025-11-06 16:43:18.047773
4,6.0,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773

In [20]:
os.makedirs(bronze_path, exist_ok=True)

In [21]:
atletas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        199834 non-null  float64
 1   ID                199837 non-null  object
 2   Name              199836 non-null  object
 3   Sex               199836 non-null  object
 4   Age               198939 non-null  float64
 5   Height            189681 non-null  float64
 6   Weight            189063 non-null  float64
 7   Team              199833 non-null  object
 8   NOC               199837 non-null  object
 9   Games             199836 non-null  object
 10  Year              199837 non-null  int64
 11  Season            199836 non-null  object
 12  City              199837 non-null  object
 13  Sport             199837 non-null  object
 14  Event             199837 non-null  object
 15  Medal             27342 non-null   object
 16  _BronzeTimestamp  199837 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(4), int64(1), object(11)
memory usage: 25.9+ MB

In [13]:
#atletas_df.to_parquet(bronze_file_path, index=False)
#No puedo guardarlo como parquet porque da un error de typerror en la columna id
#Lo guardo como csv

In [22]:
atletas_df.to_csv(bronze_file_path, index=False)