In [1]:
import os
import pandas as pd

In [2]:
bronze_path = os.path.join(os.curdir, "Data_Lake","Bronze")
silver_path = os.path.join(os.curdir, "Data_Lake","Silver")

In [3]:
bronze_file_name = "atletas_bronze.csv"
silver_file_name = "atletas_silver.csv"

In [4]:
bronze_file_path = os.path.join(bronze_path,bronze_file_name)
silver_file_path = os.path.join(silver_path,silver_file_name)

In [5]:
bronze_atletas_df  = pd.read_csv(bronze_file_path)

C:\Users\dimit\AppData\Local\Temp\ipykernel_33448\1521491578.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  bronze_atletas_df  = pd.read_csv(bronze_file_path)

In [6]:
bronze_atletas_df.head()

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,_BronzeTimestamp
0,0.0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,2025-11-06 16:43:18.047773
1,1.0,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,2025-11-06 16:43:18.047773
2,4.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773
3,5.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,2025-11-06 16:43:18.047773
4,6.0,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773

In [8]:
#La columna unnamed corresponde a los índices del anterior csv (antes de que Jorge los ensuciara), por lo que procedo a eliminarla
bronze_atletas_eliminar_unnamed_df = bronze_atletas_df.drop(columns=['Unnamed: 0'])

In [9]:
bronze_atletas_eliminar_unnamed_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,_BronzeTimestamp
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,2025-11-06 16:43:18.047773
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,2025-11-06 16:43:18.047773
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,2025-11-06 16:43:18.047773
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,2025-11-06 16:43:18.047773

In [10]:
bronze_atletas_eliminar_unnamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199837 non-null  object
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198939 non-null  float64
 4   Height            189681 non-null  float64
 5   Weight            189063 non-null  float64
 6   Team              199833 non-null  object
 7   NOC               199837 non-null  object
 8   Games             199836 non-null  object
 9   Year              199837 non-null  int64
 10  Season            199836 non-null  object
 11  City              199837 non-null  object
 12  Sport             199837 non-null  object
 13  Event             199837 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199837 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 24.4+ MB

In [12]:
#Veo que no hay ningun nulo en id, voy a ver que sean todos numeros
bronze_atletas_eliminar_unnamed_df['ID'].value_counts()

ID
129196    32
133279    30
94406     30
21462     29
11951     27
          ..
135562     1
135560     1
135558     1
135555     1
135553     1
Name: count, Length: 99310, dtype: int64

In [14]:
#bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].astype('int')
#Me da este error: "invalid literal for int() with base 10: 'nueve'", por lo que se que hay un nueve metido, lo cambio a 9
bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].replace("nueve",9)

In [ ]:
#Sigue habiendo un valor que se llama ds
ds_df = bronze_atletas_eliminar_unnamed_df[bronze_atletas_eliminar_unnamed_df['ID'].str.contains('ds', na=False)]
print(ds_df)
#Veo que Mohammed Abbas Sabih es el id ds, voy a ver si hay otra fila suya para ponerle su id

     ID                  Name Sex   Age  Height  Weight  Team  NOC  \
173  ds  Mohammed Abbas Sabih   M  26.0   170.0    70.0  Iraq  IRQ

           Games  Year  Season    City     Sport  \
173  2004 Summer  2004  Summer  Athina  Swimming

                                   Event Medal            _BronzeTimestamp
173  Swimming Men's 100 metres Freestyle   NaN  2025-11-06 16:43:18.047773

In [ ]:
Mohammed_df = bronze_atletas_eliminar_unnamed_df[bronze_atletas_eliminar_unnamed_df['Name'].str.contains('Mohammed Abbas Sabih', na=False)]
print(Mohammed_df)
#No veo otra fila en la que aparezca, por lo que voy a añadirle un id cualquiera

     ID                  Name Sex   Age  Height  Weight  Team  NOC  \
173  ds  Mohammed Abbas Sabih   M  26.0   170.0    70.0  Iraq  IRQ

           Games  Year  Season    City     Sport  \
173  2004 Summer  2004  Summer  Athina  Swimming

                                   Event Medal            _BronzeTimestamp
173  Swimming Men's 100 metres Freestyle   NaN  2025-11-06 16:43:18.047773

In [ ]:
#Al usar head al principio, vi que no habia un 3 en id, voy a ver si hay algun caso y sino, se lo pongo a Mohammed
ID3_df = bronze_atletas_eliminar_unnamed_df[bronze_atletas_eliminar_unnamed_df['ID'] == '3']
print(ID3_df)

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal, _BronzeTimestamp]
Index: []

In [ ]:
#Veo que está vacío, se lo pongo a Mohammed
bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].replace("ds",3)

    ID                  Name Sex   Age  Height  Weight  Team  NOC  \
173  3  Mohammed Abbas Sabih   M  26.0   170.0    70.0  Iraq  IRQ

           Games  Year  Season    City     Sport  \
173  2004 Summer  2004  Summer  Athina  Swimming

                                   Event Medal            _BronzeTimestamp
173  Swimming Men's 100 metres Freestyle   NaN  2025-11-06 16:43:18.047773

In [27]:
#Vuelvo a intentar transformar en numero
bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].astype('int')

In [ ]:
sorted(bronze_atletas_eliminar_unnamed_df['ID'])
#Bien, ya son todo números

[1,
 2,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 9,
 11,
 12,
 13,
 13,
 14,
 16,
 18,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 22,
 23,
 23,
 24,
 26,
 27,
 28,
 28,
 29,
 30,
 30,
 33,
 33,
 34,
 35,
 36,
 36,
 36,
 36,
 36,
 37,
 43,
 44,
 44,
 44,
 44,
 44,
 48,
 49,
 49,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 53,
 55,
 57,
 62,
 63,
 64,
 65,
 66,
 67,
 67,
 68,
 68,
 69,
 70,
 71,
 71,
 72,
 72,
 73,
 73,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 85,
 85,
 86,
 86,
 87,
 88,
 89,
 90,
 90,
 91,
 92,
 93,
 93,
 94,
 95,
 96,
 97,
 98,
 98,
 98,
 99,
 101,
 104,
 105,
 105,
 106,
 106,
 106,
 107,
 107,
 107,
 107,
 108,
 108,
 108,
 108,
 109,
 109,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 117,
 118,
 121,
 122,
 123,
 123,
 123,
 125,
 126,
 127,
 127,
 127,
 128,
 129,
 130,
 131,
 132,
 134,
 135,
 136,
 137,
 137,
 138,
 140,
 140,
 141,
 141,
 143,
 144,
 145,
 145,
 145,
 146,
 147,
 148,
 149,
 152,
 153,
 154,
 155,
 155,
 155,
 156,
 157,
 157,
 158,
 159,
 159,
 159,
 160,
 161,
 162,
 162,
 164,
 165,
 166,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 177,
 178,
 179,
 179,
 180,
 180,
 181,
 182,
 184,
 187,
 188,
 189,
 191,
 192,
 196,
 197,
 198,
 199,
 199,
 200,
 201,
 202,
 202,
 203,
 203,
 204,
 205,
 206,
 210,
 211,
 211,
 212,
 213,
 213,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 221,
 222,
 225,
 225,
 225,
 226,
 227,
 228,
 229,
 231,
 232,
 232,
 233,
 234,
 235,
 236,
 236,
 238,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 244,
 244,
 244,
 244,
 245,
 246,
 247,
 248,
 248,
 249,
 249,
 250,
 250,
 251,
 251,
 252,
 252,
 253,
 253,
 254,
 254,
 256,
 256,
 256,
 256,
 257,
 257,
 257,
 258,
 259,
 259,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 267,
 267,
 267,
 268,
 269,
 270,
 272,
 273,
 274,
 275,
 276,
 276,
 277,
 277,
 277,
 278,
 279,
 279,
 280,
 282,
 283,
 284,
 285,
 286,
 286,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 298,
 299,
 299,
 303,
 305,
 306,
 307,
 308,
 308,
 310,
 311,
 312,
 313,
 313,
 313,
 313,
 314,
 315,
 316,
 317,
 317,
 317,
 317,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 326,
 326,
 326,
 326,
 326,
 327,
 329,
 331,
 331,
 331,
 331,
 332,
 332,
 333,
 333,
 334,
 335,
 336,
 336,
 337,
 337,
 338,
 338,
 339,
 339,
 339,
 340,
 341,
 342,
 343,
 343,
 344,
 345,
 346,
 346,
 346,
 347,
 348,
 348,
 349,
 350,
 350,
 351,
 352,
 353,
 353,
 354,
 355,
 356,
 357,
 357,
 357,
 358,
 359,
 359,
 360,
 360,
 361,
 363,
 363,
 363,
 363,
 365,
 366,
 367,
 367,
 367,
 367,
 367,
 368,
 368,
 370,
 370,
 371,
 371,
 372,
 373,
 373,
 373,
 375,
 376,
 377,
 378,
 379,
 379,
 380,
 380,
 381,
 382,
 383,
 383,
 384,
 386,
 386,
 387,
 388,
 390,
 393,
 393,
 394,
 394,
 394,
 394,
 394,
 394,
 395,
 395,
 395,
 395,
 395,
 396,
 396,
 396,
 396,
 396,
 397,
 397,
 400,
 401,
 402,
 402,
 405,
 407,
 407,
 407,
 408,
 410,
 411,
 412,
 413,
 413,
 413,
 415,
 417,
 421,
 422,
 422,
 422,
 422,
 422,
 423,
 425,
 427,
 428,
 428,
 428,
 428,
 429,
 429,
 430,
 431,
 432,
 432,
 432,
 432,
 433,
 433,
 433,
 434,
 435,
 436,
 437,
 438,
 438,
 439,
 440,
 441,
 442,
 443,
 443,
 444,
 444,
 445,
 446,
 447,
 447,
 448,
 449,
 450,
 451,
 452,
 452,
 452,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 456,
 457,
 458,
 459,
 460,
 460,
 460,
 460,
 461,
 461,
 462,
 463,
 463,
 463,
 464,
 465,
 465,
 466,
 466,
 466,
 467,
 467,
 468,
 469,
 469,
 469,
 469,
 469,
 469,
 470,
 471,
 471,
 471,
 473,
 474,
 475,
 476,
 477,
 479,
 481,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 495,
 495,
 495,
 496,
 497,
 498,
 499,
 499,
 500,
 501,
 503,
 504,
 507,
 507,
 507,
 509,
 509,
 509,
 509,
 509,
 510,
 511,
 512,
 512,
 512,
 512,
 512,
 512,
 513,
 514,
 514,
 514,
 515,
 516,
 517,
 517,
 518,
 518,
 522,
 523,
 523,
 524,
 525,
 525,
 526,
 528,
 528,
 530,
 531,
 532,
 532,
 532,
 532,
 532,
 532,
 533,
 534,
 534,
 534,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 536,
 537,
 538,
 539,
 539,
 541,
 541,
 542,
 543,
 544,
 545,
 546,
 546,
 547,
 548,
 548,
 548,
 548,
 549,
 549,
 550,
 550,
 551,
 552,
 554,
 555,
 555,
 555,
 555,
 556,
 556,
 557,
 558,
 559,
 560,
 561,
 561,
 562,
 562,
 562,
 562,
 562,
 562,
 563,
 564,
 565,
 566,
 566,
 566,
 566,
 566,
 566,
 566,
 567,
 567,
 567,
 568,
 569,
 570,
 571,
 572,
 572,
 572,
 572,
 572,
 573,
 574,
 574,
 575,
 576,
 578,
 579,
 580,
 580,
 582,
 583,
 583,
 583,
 583,
 584,
 585,
 586,
 587,
 587,
 588,
 589,
 590,
 591,
 592,
 592,
 593,
 593,
 594,
 594,
 595,
 596,
 598,
 598,
 599,
 600,
 600,
 601,
 602,
 603,
 604,
 604,
 605,
 606,
 606,
 607,
 608,
 609,
 610,
 610,
 610,
 610,
 610,
 610,
 611,
 612,
 613,
 614,
 615,
 615,
 616,
 617,
 618,
 618,
 618,
 618,
 619,
 620,
 620,
 621,
 622,
 623,
 623,
 624,
 626,
 626,
 627,
 627,
 627,
 627,
 628,
 628,
 629,
 630,
 633,
 633,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 637,
 638,
 640,
 643,
 644,
 644,
 645,
 646,
 647,
 648,
 648,
 649,
 649,
 650,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 656,
 657,
 658,
 659,
 660,
 662,
 663,
 663,
 663,
 664,
 666,
 667,
 668,
 669,
 670,
 671,
 671,
 672,
 673,
 674,
 674,
 674,
 675,
 675,
 678,
 678,
 679,
 679,
 680,
 680,
 680,
 681,
 682,
 682,
 683,
 683,
 684,
 684,
 685,
 686,
 687,
 687,
 688,
 690,
 690,
 691,
 691,
 693,
 694,
 694,
 695,
 698,
 700,
 701,
 702,
 702,
 702,
 702,
 702,
 702,
 702,
 702,
 703,
 705,
 705,
 705,
 705,
 705,
 706,
 706,
 706,
 707,
 708,
 708,
 709,
 709,
 710,
 712,
 713,
 713,
 713,
 713,
 715,
 716,
 717,
 718,
 718,
 719,
 ...]