In [1]:
import os
import pandas as pd

In [2]:
bronze_path = os.path.join(os.curdir, "Data_Lake","Bronze")
silver_path = os.path.join(os.curdir, "Data_Lake","Silver")

In [3]:
bronze_file_name = "atletas_bronze.csv"
silver_file_name = "atletas_silver.csv"

In [4]:
bronze_file_path = os.path.join(bronze_path,bronze_file_name)
silver_file_path = os.path.join(silver_path,silver_file_name)

In [5]:
bronze_atletas_df  = pd.read_csv(bronze_file_path)

C:\Users\dimit\AppData\Local\Temp\ipykernel_47608\1521491578.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  bronze_atletas_df  = pd.read_csv(bronze_file_path)

In [6]:
bronze_atletas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        199834 non-null  float64
 1   ID                199837 non-null  object
 2   Name              199836 non-null  object
 3   Sex               199836 non-null  object
 4   Age               198939 non-null  float64
 5   Height            189681 non-null  float64
 6   Weight            189063 non-null  float64
 7   Team              199833 non-null  object
 8   NOC               199837 non-null  object
 9   Games             199836 non-null  object
 10  Year              199837 non-null  int64
 11  Season            199836 non-null  object
 12  City              199837 non-null  object
 13  Sport             199837 non-null  object
 14  Event             199837 non-null  object
 15  Medal             27342 non-null   object
 16  _BronzeTimestamp  199837 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 25.9+ MB

In [7]:
bronze_atletas_eliminar_unnamed_df = bronze_atletas_df

In [8]:
#La columna unnamed corresponde a los índices del anterior csv (antes de que Jorge los ensuciara), por lo que procedo a eliminarla
bronze_atletas_eliminar_unnamed_df = bronze_atletas_eliminar_unnamed_df.drop(columns=['Unnamed: 0'])

In [9]:
bronze_atletas_eliminar_unnamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199837 non-null  object
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198939 non-null  float64
 4   Height            189681 non-null  float64
 5   Weight            189063 non-null  float64
 6   Team              199833 non-null  object
 7   NOC               199837 non-null  object
 8   Games             199836 non-null  object
 9   Year              199837 non-null  int64
 10  Season            199836 non-null  object
 11  City              199837 non-null  object
 12  Sport             199837 non-null  object
 13  Event             199837 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199837 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 24.4+ MB

In [10]:
bronze_atletas_eliminar_unnamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199837 non-null  object
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198939 non-null  float64
 4   Height            189681 non-null  float64
 5   Weight            189063 non-null  float64
 6   Team              199833 non-null  object
 7   NOC               199837 non-null  object
 8   Games             199836 non-null  object
 9   Year              199837 non-null  int64
 10  Season            199836 non-null  object
 11  City              199837 non-null  object
 12  Sport             199837 non-null  object
 13  Event             199837 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199837 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 24.4+ MB

In [11]:
#Veo que no hay ningun nulo en id, voy a ver que sean todos numeros
bronze_atletas_eliminar_unnamed_df['ID'].value_counts(dropna = False)

ID
129196    32
133279    30
94406     30
21462     29
11951     27
          ..
135562     1
135560     1
135558     1
135555     1
135553     1
Name: count, Length: 99310, dtype: int64

In [12]:
#bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].astype('int')
#Me da este error: "invalid literal for int() with base 10: 'nueve'", por lo que se que hay un nueve metido, lo cambio a 9
bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].replace("nueve",9)

In [13]:
#Sigue habiendo un valor que se llama ds
ds_df = bronze_atletas_eliminar_unnamed_df[bronze_atletas_eliminar_unnamed_df['ID'].str.contains('ds', na=False)]
print(ds_df)
#Veo que Mohammed Abbas Sabih es el id ds, voy a ver si hay otra fila suya para ponerle su id

     ID                  Name Sex   Age  Height  Weight  Team  NOC  \
173  ds  Mohammed Abbas Sabih   M  26.0   170.0    70.0  Iraq  IRQ

           Games  Year  Season    City     Sport  \
173  2004 Summer  2004  Summer  Athina  Swimming

                                   Event Medal            _BronzeTimestamp
173  Swimming Men's 100 metres Freestyle   NaN  2025-11-06 16:43:18.047773

In [14]:
mohammed_df = bronze_atletas_eliminar_unnamed_df[bronze_atletas_eliminar_unnamed_df['Name'].str.contains('Mohammed Abbas Sabih', na=False)]
print(mohammed_df)
#No veo otra fila en la que aparezca, por lo que voy a añadirle un id cualquiera

     ID                  Name Sex   Age  Height  Weight  Team  NOC  \
173  ds  Mohammed Abbas Sabih   M  26.0   170.0    70.0  Iraq  IRQ

           Games  Year  Season    City     Sport  \
173  2004 Summer  2004  Summer  Athina  Swimming

                                   Event Medal            _BronzeTimestamp
173  Swimming Men's 100 metres Freestyle   NaN  2025-11-06 16:43:18.047773

In [15]:
#Al usar head al principio, vi que no habia un 3 en id, voy a ver si hay algun caso y sino, se lo pongo a Mohammed
id3_df = bronze_atletas_eliminar_unnamed_df[bronze_atletas_eliminar_unnamed_df['ID'] == '3']
print(id3_df)

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal, _BronzeTimestamp]
Index: []

In [16]:
#Veo que está vacío, se lo pongo a Mohammed
bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].replace("ds",3)

In [17]:
#Vuelvo a intentar transformar en numero
bronze_atletas_eliminar_unnamed_df['ID'] = bronze_atletas_eliminar_unnamed_df['ID'].astype('int')

In [18]:
sorted(bronze_atletas_eliminar_unnamed_df['ID'])
#Bien, ya son todo números

[1,
 2,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 9,
 11,
 12,
 13,
 13,
 14,
 16,
 18,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 22,
 23,
 23,
 24,
 26,
 27,
 28,
 28,
 29,
 30,
 30,
 33,
 33,
 34,
 35,
 36,
 36,
 36,
 36,
 36,
 37,
 43,
 44,
 44,
 44,
 44,
 44,
 48,
 49,
 49,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 53,
 55,
 57,
 62,
 63,
 64,
 65,
 66,
 67,
 67,
 68,
 68,
 69,
 70,
 71,
 71,
 72,
 72,
 73,
 73,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 85,
 85,
 86,
 86,
 87,
 88,
 89,
 90,
 90,
 91,
 92,
 93,
 93,
 94,
 95,
 96,
 97,
 98,
 98,
 98,
 99,
 101,
 104,
 105,
 105,
 106,
 106,
 106,
 107,
 107,
 107,
 107,
 108,
 108,
 108,
 108,
 109,
 109,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 117,
 118,
 121,
 122,
 123,
 123,
 123,
 125,
 126,
 127,
 127,
 127,
 128,
 129,
 130,
 131,
 132,
 134,
 135,
 136,
 137,
 137,
 138,
 140,
 140,
 141,
 141,
 143,
 144,
 145,
 145,
 145,
 146,
 147,
 148,
 149,
 152,
 153,
 154,
 155,
 155,
 155,
 156,
 157,
 157,
 158,
 159,
 159,
 159,
 160,
 161,
 162,
 162,
 164,
 165,
 166,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 177,
 178,
 179,
 179,
 180,
 180,
 181,
 182,
 184,
 187,
 188,
 189,
 191,
 192,
 196,
 197,
 198,
 199,
 199,
 200,
 201,
 202,
 202,
 203,
 203,
 204,
 205,
 206,
 210,
 211,
 211,
 212,
 213,
 213,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 221,
 222,
 225,
 225,
 225,
 226,
 227,
 228,
 229,
 231,
 232,
 232,
 233,
 234,
 235,
 236,
 236,
 238,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 244,
 244,
 244,
 244,
 245,
 246,
 247,
 248,
 248,
 249,
 249,
 250,
 250,
 251,
 251,
 252,
 252,
 253,
 253,
 254,
 254,
 256,
 256,
 256,
 256,
 257,
 257,
 257,
 258,
 259,
 259,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 267,
 267,
 267,
 268,
 269,
 270,
 272,
 273,
 274,
 275,
 276,
 276,
 277,
 277,
 277,
 278,
 279,
 279,
 280,
 282,
 283,
 284,
 285,
 286,
 286,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 298,
 299,
 299,
 303,
 305,
 306,
 307,
 308,
 308,
 310,
 311,
 312,
 313,
 313,
 313,
 313,
 314,
 315,
 316,
 317,
 317,
 317,
 317,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 326,
 326,
 326,
 326,
 326,
 327,
 329,
 331,
 331,
 331,
 331,
 332,
 332,
 333,
 333,
 334,
 335,
 336,
 336,
 337,
 337,
 338,
 338,
 339,
 339,
 339,
 340,
 341,
 342,
 343,
 343,
 344,
 345,
 346,
 346,
 346,
 347,
 348,
 348,
 349,
 350,
 350,
 351,
 352,
 353,
 353,
 354,
 355,
 356,
 357,
 357,
 357,
 358,
 359,
 359,
 360,
 360,
 361,
 363,
 363,
 363,
 363,
 365,
 366,
 367,
 367,
 367,
 367,
 367,
 368,
 368,
 370,
 370,
 371,
 371,
 372,
 373,
 373,
 373,
 375,
 376,
 377,
 378,
 379,
 379,
 380,
 380,
 381,
 382,
 383,
 383,
 384,
 386,
 386,
 387,
 388,
 390,
 393,
 393,
 394,
 394,
 394,
 394,
 394,
 394,
 395,
 395,
 395,
 395,
 395,
 396,
 396,
 396,
 396,
 396,
 397,
 397,
 400,
 401,
 402,
 402,
 405,
 407,
 407,
 407,
 408,
 410,
 411,
 412,
 413,
 413,
 413,
 415,
 417,
 421,
 422,
 422,
 422,
 422,
 422,
 423,
 425,
 427,
 428,
 428,
 428,
 428,
 429,
 429,
 430,
 431,
 432,
 432,
 432,
 432,
 433,
 433,
 433,
 434,
 435,
 436,
 437,
 438,
 438,
 439,
 440,
 441,
 442,
 443,
 443,
 444,
 444,
 445,
 446,
 447,
 447,
 448,
 449,
 450,
 451,
 452,
 452,
 452,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 455,
 456,
 457,
 458,
 459,
 460,
 460,
 460,
 460,
 461,
 461,
 462,
 463,
 463,
 463,
 464,
 465,
 465,
 466,
 466,
 466,
 467,
 467,
 468,
 469,
 469,
 469,
 469,
 469,
 469,
 470,
 471,
 471,
 471,
 473,
 474,
 475,
 476,
 477,
 479,
 481,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 495,
 495,
 495,
 496,
 497,
 498,
 499,
 499,
 500,
 501,
 503,
 504,
 507,
 507,
 507,
 509,
 509,
 509,
 509,
 509,
 510,
 511,
 512,
 512,
 512,
 512,
 512,
 512,
 513,
 514,
 514,
 514,
 515,
 516,
 517,
 517,
 518,
 518,
 522,
 523,
 523,
 524,
 525,
 525,
 526,
 528,
 528,
 530,
 531,
 532,
 532,
 532,
 532,
 532,
 532,
 533,
 534,
 534,
 534,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 536,
 537,
 538,
 539,
 539,
 541,
 541,
 542,
 543,
 544,
 545,
 546,
 546,
 547,
 548,
 548,
 548,
 548,
 549,
 549,
 550,
 550,
 551,
 552,
 554,
 555,
 555,
 555,
 555,
 556,
 556,
 557,
 558,
 559,
 560,
 561,
 561,
 562,
 562,
 562,
 562,
 562,
 562,
 563,
 564,
 565,
 566,
 566,
 566,
 566,
 566,
 566,
 566,
 567,
 567,
 567,
 568,
 569,
 570,
 571,
 572,
 572,
 572,
 572,
 572,
 573,
 574,
 574,
 575,
 576,
 578,
 579,
 580,
 580,
 582,
 583,
 583,
 583,
 583,
 584,
 585,
 586,
 587,
 587,
 588,
 589,
 590,
 591,
 592,
 592,
 593,
 593,
 594,
 594,
 595,
 596,
 598,
 598,
 599,
 600,
 600,
 601,
 602,
 603,
 604,
 604,
 605,
 606,
 606,
 607,
 608,
 609,
 610,
 610,
 610,
 610,
 610,
 610,
 611,
 612,
 613,
 614,
 615,
 615,
 616,
 617,
 618,
 618,
 618,
 618,
 619,
 620,
 620,
 621,
 622,
 623,
 623,
 624,
 626,
 626,
 627,
 627,
 627,
 627,
 628,
 628,
 629,
 630,
 633,
 633,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 634,
 637,
 638,
 640,
 643,
 644,
 644,
 645,
 646,
 647,
 648,
 648,
 649,
 649,
 650,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 656,
 657,
 658,
 659,
 660,
 662,
 663,
 663,
 663,
 664,
 666,
 667,
 668,
 669,
 670,
 671,
 671,
 672,
 673,
 674,
 674,
 674,
 675,
 675,
 678,
 678,
 679,
 679,
 680,
 680,
 680,
 681,
 682,
 682,
 683,
 683,
 684,
 684,
 685,
 686,
 687,
 687,
 688,
 690,
 690,
 691,
 691,
 693,
 694,
 694,
 695,
 698,
 700,
 701,
 702,
 702,
 702,
 702,
 702,
 702,
 702,
 702,
 703,
 705,
 705,
 705,
 705,
 705,
 706,
 706,
 706,
 707,
 708,
 708,
 709,
 709,
 710,
 712,
 713,
 713,
 713,
 713,
 715,
 716,
 717,
 718,
 718,
 719,
 ...]

In [19]:
bronze_atletas_eliminar_unnamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199837 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198939 non-null  float64
 4   Height            189681 non-null  float64
 5   Weight            189063 non-null  float64
 6   Team              199833 non-null  object
 7   NOC               199837 non-null  object
 8   Games             199836 non-null  object
 9   Year              199837 non-null  int64
 10  Season            199836 non-null  object
 11  City              199837 non-null  object
 12  Sport             199837 non-null  object
 13  Event             199837 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199837 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 24.4+ MB

In [20]:
#La columna del nombre hay un nulo, y en la de sexo otro, voy a ponerlos como desconocido
bronze_atletas_nulos_df = bronze_atletas_eliminar_unnamed_df

In [21]:
fill_values = {
    "Name": "Desconocido",
    "Sex": "Desconocido"
}

In [22]:
bronze_atletas_nulos_df = bronze_atletas_nulos_df.fillna(fill_values)

In [23]:
bronze_atletas_nulos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199837 non-null  int64
 1   Name              199837 non-null  object
 2   Sex               199837 non-null  object
 3   Age               198939 non-null  float64
 4   Height            189681 non-null  float64
 5   Weight            189063 non-null  float64
 6   Team              199833 non-null  object
 7   NOC               199837 non-null  object
 8   Games             199836 non-null  object
 9   Year              199837 non-null  int64
 10  Season            199836 non-null  object
 11  City              199837 non-null  object
 12  Sport             199837 non-null  object
 13  Event             199837 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199837 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 24.4+ MB

In [24]:
bronze_atletas_nulos_df['Name'].value_counts()
#Parece que los nombres estan bien

Name
Andreas Wecker                      32
Yordan Yovchev Yovchev              30
Michael Fred Phelps, II             30
Oksana Aleksandrovna Chusovitina    29
Ole Einar Bjrndalen                 27
                                    ..
Kim Hyeong-Tae                       1
James Francis "Jim" Zylker           1
Yevgeny Aleksandrovich Zykov         1
Milan Zyka                           1
Stavroula Zygouri                    1
Name: count, Length: 98710, dtype: int64

In [25]:
bronze_atletas_nulos_df['Sex'].value_counts()

Sex
M              132570
F               67265
Female              1
Desconocido         1
Name: count, dtype: int64

In [26]:
#Vemos que hay un valor que es Female, lo cambiamos por F
bronze_atletas_nulos_df['Sex'] = bronze_atletas_nulos_df['Sex'].replace("Female", "F")
bronze_atletas_nulos_df['Sex'].value_counts()

Sex
M              132570
F               67266
Desconocido         1
Name: count, dtype: int64

In [27]:
#Voy a ver los valores de edad
print(bronze_atletas_nulos_df['Age'].max())

71.0

In [28]:
print(bronze_atletas_nulos_df['Age'].min())

11.0

In [29]:
#La edad de 11 años puede ser, ya que en la antiguedad sobre todo en gimnasia iba gente muy pequeña, y 71 como mayor tambien en deportes tipo tiro o asi
#Voy a hacer lo mismo para altura y peso
print(bronze_atletas_nulos_df['Height'].min())
print(bronze_atletas_nulos_df['Height'].max())
#No puede medir alguien 5 metros, he buscado y el maximo de una persona en los jjoo es 220, asi que para curarnos un poco en salud, pondre que elimine todos lo valores superiores a 240

127.0
500.0

In [30]:
print(bronze_atletas_nulos_df['Weight'].min())
print(bronze_atletas_nulos_df['Weight'].max())
#Lo mismo con el peso, hay alguno que participo con 220 kg, asi que pondre 250kg de maximo

25.0
500.0

In [31]:
bronze_atletas_peso_df = bronze_atletas_nulos_df

In [32]:
bronze_atletas_peso_df.loc[bronze_atletas_peso_df['Weight']>250, 'Weight'] = None

In [33]:
bronze_atletas_peso_df['Weight'].max()

np.float64(214.0)

In [34]:
bronze_atletas_altura_df = bronze_atletas_peso_df

In [35]:
bronze_atletas_altura_df['Height'].value_counts(dropna=False)

Height
180.0    11241
170.0    10502
NaN      10156
178.0     9462
175.0     9143
         ...
130.0        2
219.0        2
410.0        1
500.0        1
128.0        1
Name: count, Length: 98, dtype: int64

In [36]:
bronze_atletas_altura_df['Height'].max()

np.float64(500.0)

In [37]:
bronze_atletas_altura_df.loc[bronze_atletas_altura_df['Height']>240, 'Height'] = None

In [38]:
bronze_atletas_altura_df['Height'].max()

np.float64(226.0)

In [39]:
bronze_atletas_altura_df['Height'].value_counts(dropna=False)

Height
180.0    11241
170.0    10502
NaN      10158
178.0     9462
175.0     9143
         ...
226.0        3
131.0        2
130.0        2
219.0        2
128.0        1
Name: count, Length: 96, dtype: int64

In [40]:
print(bronze_atletas_altura_df['Height'].max())

226.0

In [41]:
bronze_atletas_altura_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199837 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199837 non-null  int64
 1   Name              199837 non-null  object
 2   Sex               199837 non-null  object
 3   Age               198939 non-null  float64
 4   Height            189679 non-null  float64
 5   Weight            189062 non-null  float64
 6   Team              199833 non-null  object
 7   NOC               199837 non-null  object
 8   Games             199836 non-null  object
 9   Year              199837 non-null  int64
 10  Season            199836 non-null  object
 11  City              199837 non-null  object
 12  Sport             199837 non-null  object
 13  Event             199837 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199837 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 24.4+ MB

In [42]:
#pd.set_option('display.max_rows', None) para mostrar todos los valores, veo que hay nombres muy raros, ademas de paises tipo pais-1, pais-2
bronze_atletas_altura_df['Team'].value_counts(dropna=False)
#Voy a ver como esta la columna de NOC

Team
United States    11469
Canada            7482
Italy             7033
France            7007
Japan             6801
                 ...
Salinero             1
Satchmo              1
Solos Carex          1
Dow Jones            1
Digby                1
Name: count, Length: 463, dtype: int64

In [43]:
bronze_atletas_altura_df['NOC'].value_counts(dropna=False)
#Veo que hay un valor mal, voy a eliminar las filas que tienen un NOC mal, ya que la voy a usar para coger el team correcto

NOC
USA      11964
CAN       7806
ITA       7294
FRA       7162
GBR       6969
         ...
TUV          7
YMD          5
SSD          3
Egypy        1
ORS          1
Name: count, Length: 221, dtype: int64

In [44]:
bronze_atletas_NOC_df = bronze_atletas_altura_df

In [45]:
import re
bronze_atletas_NOC_df = bronze_atletas_NOC_df[bronze_atletas_NOC_df['NOC'].str.match(r'^[A-Z]{3}$',na=False)]
#Hago un regex que si en NOC no hay estrictamente 3 letras mayusculas, quito la fila

In [46]:
bronze_atletas_NOC_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199836 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199836 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198938 non-null  float64
 4   Height            189678 non-null  float64
 5   Weight            189061 non-null  float64
 6   Team              199832 non-null  object
 7   NOC               199836 non-null  object
 8   Games             199835 non-null  object
 9   Year              199836 non-null  int64
 10  Season            199835 non-null  object
 11  City              199836 non-null  object
 12  Sport             199836 non-null  object
 13  Event             199836 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199836 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 25.9+ MB

In [47]:
#Voy a añadir bien sus paises
olympic_countries = {
    "AFG": "Afghanistan",
    "ALB": "Albania",
    "ALG": "Algeria",
    "AND": "Andorra",
    "ANG": "Angola",
    "ANT": "Antigua and Barbuda",
    "ARG": "Argentina",
    "ARM": "Armenia",
    "AUS": "Australia",
    "AUT": "Austria",
    "AZE": "Azerbaijan",
    "BAH": "Bahamas",
    "BRN": "Bahrain",
    "BAN": "Bangladesh",
    "BAR": "Barbados",
    "BLR": "Belarus",
    "BEL": "Belgium",
    "BIZ": "Belize",
    "BEN": "Benin",
    "BER": "Bermuda",
    "BHU": "Bhutan",
    "BOL": "Bolivia",
    "BIH": "Bosnia and Herzegovina",
    "BOT": "Botswana",
    "BRA": "Brazil",
    "BRU": "Brunei",
    "BUL": "Bulgaria",
    "BUR": "Burkina Faso",
    "BDI": "Burundi",
    "CAM": "Cambodia",
    "CMR": "Cameroon",
    "CAN": "Canada",
    "CPV": "Cape Verde",
    "CAF": "Central African Republic",
    "CHA": "Chad",
    "CHI": "Chile",
    "CHN": "China",
    "COL": "Colombia",
    "COM": "Comoros",
    "CGO": "Congo",
    "CRC": "Costa Rica",
    "CRO": "Croatia",
    "CUB": "Cuba",
    "CYP": "Cyprus",
    "CZE": "Czech Republic",
    "COD": "Democratic Republic of the Congo",
    "DEN": "Denmark",
    "DJI": "Djibouti",
    "DMA": "Dominica",
    "DOM": "Dominican Republic",
    "ECU": "Ecuador",
    "EGY": "Egypt",
    "ESA": "El Salvador",
    "GEQ": "Equatorial Guinea",
    "ERI": "Eritrea",
    "EST": "Estonia",
    "SWZ": "Eswatini",
    "ETH": "Ethiopia",
    "FIJ": "Fiji",
    "FIN": "Finland",
    "FRA": "France",
    "GAB": "Gabon",
    "GAM": "Gambia",
    "GEO": "Georgia",
    "GER": "Germany",
    "GHA": "Ghana",
    "GRE": "Greece",
    "GRN": "Grenada",
    "GUA": "Guatemala",
    "GUI": "Guinea",
    "GBS": "Guinea-Bissau",
    "GUY": "Guyana",
    "HAI": "Haiti",
    "HON": "Honduras",
    "HUN": "Hungary",
    "ISL": "Iceland",
    "IND": "India",
    "INA": "Indonesia",
    "IRI": "Iran",
    "IRQ": "Iraq",
    "IRL": "Ireland",
    "ISR": "Israel",
    "ITA": "Italy",
    "JAM": "Jamaica",
    "JPN": "Japan",
    "JOR": "Jordan",
    "KAZ": "Kazakhstan",
    "KEN": "Kenya",
    "KIR": "Kiribati",
    "KUW": "Kuwait",
    "KGZ": "Kyrgyzstan",
    "LAO": "Laos",
    "LAT": "Latvia",
    "LIB": "Lebanon",
    "LES": "Lesotho",
    "LBR": "Liberia",
    "LBA": "Libya",
    "LIE": "Liechtenstein",
    "LTU": "Lithuania",
    "LUX": "Luxembourg",
    "MAD": "Madagascar",
    "MAW": "Malawi",
    "MAS": "Malaysia",
    "MDV": "Maldives",
    "MLI": "Mali",
    "MLT": "Malta",
    "MHL": "Marshall Islands",
    "MTN": "Mauritania",
    "MRI": "Mauritius",
    "MEX": "Mexico",
    "FSM": "Micronesia",
    "MDA": "Moldova",
    "MON": "Monaco",
    "MGL": "Mongolia",
    "MNE": "Montenegro",
    "MAR": "Morocco",
    "MOZ": "Mozambique",
    "MYA": "Myanmar",
    "NAM": "Namibia",
    "NRU": "Nauru",
    "NEP": "Nepal",
    "NED": "Netherlands",
    "NZL": "New Zealand",
    "NCA": "Nicaragua",
    "NIG": "Niger",
    "NGR": "Nigeria",
    "MKD": "North Macedonia",
    "NOR": "Norway",
    "OMA": "Oman",
    "PAK": "Pakistan",
    "PLW": "Palau",
    "PLE": "Palestine",
    "PAN": "Panama",
    "PNG": "Papua New Guinea",
    "PAR": "Paraguay",
    "PER": "Peru",
    "PHI": "Philippines",
    "POL": "Poland",
    "POR": "Portugal",
    "QAT": "Qatar",
    "ROU": "Romania",
    "RUS": "Russia",
    "RWA": "Rwanda",
    "SKN": "Saint Kitts and Nevis",
    "LCA": "Saint Lucia",
    "VIN": "Saint Vincent and the Grenadines",
    "SAM": "Samoa",
    "SMR": "San Marino",
    "STP": "Sao Tome and Principe",
    "KSA": "Saudi Arabia",
    "SEN": "Senegal",
    "SRB": "Serbia",
    "SEY": "Seychelles",
    "SLE": "Sierra Leone",
    "SGP": "Singapore",
    "SVK": "Slovakia",
    "SLO": "Slovenia",
    "SOL": "Solomon Islands",
    "SOM": "Somalia",
    "RSA": "South Africa",
    "KOR": "South Korea",
    "SSD": "South Sudan",
    "ESP": "Spain",
    "SRI": "Sri Lanka",
    "SUD": "Sudan",
    "SUR": "Suriname",
    "SWE": "Sweden",
    "SUI": "Switzerland",
    "SYR": "Syria",
    "TPE": "Chinese Taipei",
    "TJK": "Tajikistan",
    "TAN": "Tanzania",
    "THA": "Thailand",
    "TOG": "Togo",
    "TGA": "Tonga",
    "TTO": "Trinidad and Tobago",
    "TUN": "Tunisia",
    "TUR": "Turkey",
    "TKM": "Turkmenistan",
    "TUV": "Tuvalu",
    "UGA": "Uganda",
    "UKR": "Ukraine",
    "UAE": "United Arab Emirates",
    "GBR": "United Kingdom",
    "USA": "United States",
    "URU": "Uruguay",
    "UZB": "Uzbekistan",
    "VAN": "Vanuatu",
    "VEN": "Venezuela",
    "VIE": "Vietnam",
    "YEM": "Yemen",
    "ZAM": "Zambia",
    "ZIM": "Zimbabwe",
    "URS": "Soviet Union",
    "YAR": "North Yemen",
    "TCH": "Czechoslovakia",
    "EUN": "Unified Team",
    "FRG": "West Germany",
    "GDR": "East Germany",
    "YUG": "Yugoslavia",
    "ISV": "United States Virgin Islands",
    "IOA": "Individual Olympic Athletes",
    "SCG": "Serbia and Montenegro",
    "CIV": "Cote d'Ivoire",
    "PUR": "Puerto Rico",
    "KOS": "Kosovo",
    "AHO": "Netherlands Antilles",
    "ASA": "American Samoa",
    "YMD": "South Yemen",
    "IVB": "British Virgin Islands",
    'AHO': 'Netherlands Antilles',
    'ASA': 'American Samoa',
    'YMD': 'South Yemen',
    'IVB': 'British Virgin Islands',
    'GUM': 'Guam',
    'CAY': 'Cayman Islands',
    'TLS': 'Timor Leste',
    'ROT': 'Refugee Olympic Athletes',
    'PRK': 'North Korea',
    'HKG': 'Hong Kong',
    'COK': 'Cook Islands',
    'VNM': 'South Vietnam',
    'ARU': 'Aruba' 
}

In [48]:
bronze_atletas_añado_team_bien_df = bronze_atletas_NOC_df

In [49]:
bronze_atletas_añado_team_bien_df['Country'] = bronze_atletas_añado_team_bien_df['NOC'].map(olympic_countries)

C:\Users\dimit\AppData\Local\Temp\ipykernel_47608\3173835080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_atletas_añado_team_bien_df['Country'] = bronze_atletas_añado_team_bien_df['NOC'].map(olympic_countries)

In [50]:
bronze_atletas_añado_team_bien_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199836 entries, 0 to 199836
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199836 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198938 non-null  float64
 4   Height            189678 non-null  float64
 5   Weight            189061 non-null  float64
 6   Team              199832 non-null  object
 7   NOC               199836 non-null  object
 8   Games             199835 non-null  object
 9   Year              199836 non-null  int64
 10  Season            199835 non-null  object
 11  City              199836 non-null  object
 12  Sport             199836 non-null  object
 13  Event             199836 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199836 non-null  object
 16  Country           199835 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 27.4+ MB

In [51]:
#pd.set_option('display.max_rows', None)
bronze_atletas_añado_team_bien_df.loc[bronze_atletas_añado_team_bien_df['Country'].isna(), ['Team','NOC']]
#Me sale una lista con todos los que no estaba pillando, se la paso a chatgpt y me la pasa y se la meto a olympic_countrys

             Team  NOC
129  Soviet Onion  ORS

In [52]:
#Veo que hay ahora solo me queda uno que pone ORS en vez de URS.
bronze_atletas_añado_team_bien_df['NOC'] = bronze_atletas_añado_team_bien_df['NOC'].replace("ORS","URS")

C:\Users\dimit\AppData\Local\Temp\ipykernel_47608\2749525206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_atletas_añado_team_bien_df['NOC'] = bronze_atletas_añado_team_bien_df['NOC'].replace("ORS","URS")

In [53]:
bronze_atletas_añado_team_bien_df['Country'] = bronze_atletas_añado_team_bien_df['NOC'].map(olympic_countries)
#Para añadir el valor de country de Union Sovietica en el que antes habia ORS

C:\Users\dimit\AppData\Local\Temp\ipykernel_47608\307724979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_atletas_añado_team_bien_df['Country'] = bronze_atletas_añado_team_bien_df['NOC'].map(olympic_countries)

In [54]:
bronze_atletas_añado_team_bien_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199836 entries, 0 to 199836
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199836 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198938 non-null  float64
 4   Height            189678 non-null  float64
 5   Weight            189061 non-null  float64
 6   Team              199832 non-null  object
 7   NOC               199836 non-null  object
 8   Games             199835 non-null  object
 9   Year              199836 non-null  int64
 10  Season            199835 non-null  object
 11  City              199836 non-null  object
 12  Sport             199836 non-null  object
 13  Event             199836 non-null  object
 14  Medal             27342 non-null   object
 15  _BronzeTimestamp  199836 non-null  object
 16  Country           199836 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 27.4+ MB

In [55]:
bronze_atletas_elimino_team_df = bronze_atletas_añado_team_bien_df

In [56]:
bronze_atletas_elimino_team_df = bronze_atletas_elimino_team_df.drop(columns='Team')

In [57]:
bronze_atletas_elimino_team_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199836 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199836 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198938 non-null  float64
 4   Height            189678 non-null  float64
 5   Weight            189061 non-null  float64
 6   NOC               199836 non-null  object
 7   Games             199835 non-null  object
 8   Year              199836 non-null  int64
 9   Season            199835 non-null  object
 10  City              199836 non-null  object
 11  Sport             199836 non-null  object
 12  Event             199836 non-null  object
 13  Medal             27342 non-null   object
 14  _BronzeTimestamp  199836 non-null  object
 15  Country           199836 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 25.9+ MB

In [58]:
bronze_atletas_season_df = bronze_atletas_elimino_team_df

In [59]:
bronze_atletas_season_df['Season'].value_counts(dropna = False)

Season
Summer    158147
Winter     41688
NaN            1
Name: count, dtype: int64

In [60]:
#Creo una funcion para añadir la temporada si tengo los juegos
def añadir_season(fila):
    if pd.isna(fila['Season']) and pd.notna(fila['Games']):
        temporada = fila['Games'].split()
        #Añado condicion de que en 'Games' hay 2 palabras separadas por un espacio
        if len(temporada) > 1:
            return temporada[1]
        else:
            return None
    else:
        return fila['Season']

In [61]:
bronze_atletas_season_df['Season'] = bronze_atletas_season_df.apply(añadir_season, axis = 1)

In [62]:
bronze_atletas_season_df['Season'].value_counts(dropna = False)

Season
Summer    158147
Winter     41689
Name: count, dtype: int64

In [63]:
#Voy a hacer lo mismo para el año
bronze_atletas_year_df = bronze_atletas_season_df

In [64]:
bronze_atletas_year_df['Year'].value_counts(dropna = False)
#Veo que hay un año 2077

Year
1992    16413
1988    14676
2000    13821
1996    13780
2016    13687
2008    13602
2004    13443
2012    12920
1972    11959
1984    11588
1976    10501
1968    10479
1964     9480
1980     8937
2014     4891
2010     4402
2006     4382
2002     4109
1998     3605
1994     3160
2077        1
Name: count, dtype: int64

In [65]:
#Voy a hacer lo mismo, pero en vez de si esta vacio, si el año es mayor que 2025
def añadir_year(fila):
    if fila['Year'] > 2025 and pd.notna(fila['Games']):
        temporada = fila['Games'].split()
        #Añado condicion de que en 'Games' hay 2 palabras separadas por un espacio
        if len(temporada) > 1:
            return int(temporada[0])
        else:
            return None
    else:
        return fila['Year']

In [66]:
bronze_atletas_year_df['Year'] = bronze_atletas_year_df.apply(añadir_year, axis = 1)

In [67]:
bronze_atletas_year_df['Year'].value_counts(dropna = False)

Year
1992    16413
1988    14676
2000    13821
1996    13780
2016    13687
2008    13602
2004    13443
2012    12920
1972    11959
1984    11588
1976    10502
1968    10479
1964     9480
1980     8937
2014     4891
2010     4402
2006     4382
2002     4109
1998     3605
1994     3160
Name: count, dtype: int64

In [68]:
bronze_atletas_games_df = bronze_atletas_year_df

In [ ]:
bronze_atletas_games_df['Games'].value_counts(dropna=False)
#Hay juegos que solo aparece el año

Games
2000 Summer    13821
1996 Summer    13780
2016 Summer    13687
2008 Summer    13601
2004 Summer    13443
1992 Summer    12976
2012 Summer    12920
1988 Summer    12037
1972 Summer    10304
1984 Summer     9453
1976 Summer     8641
1968 Summer     8588
1964 Summer     7702
1980 Summer     7191
2014 Winter     4890
2010 Winter     4402
2006 Winter     4382
2002 Winter     4109
1998 Winter     3605
1992 Winter     3436
1994 Winter     3160
1988 Winter     2639
1984 Winter     2134
1968 Winter     1891
1976 Winter     1861
1964 Winter     1778
1980 Winter     1746
1972 Winter     1655
1992               1
2008               1
1984               1
NaN                1
Name: count, dtype: int64

In [ ]:
#Voy a hacer una funcion para añadir los juegos
def añadir_games(fila):
    if pd.isna(fila['Games']) and pd.notna(fila['Season']) and pd.notna(fila['Year']):  #Si no estan los juegos, pero si el año y la estacion
        return f"{fila['Year']} {fila['Season']}"                                       #Entonces compongo los juegos con el año y la estacion
    elif re.match(r'^\d{4}$', fila['Games']) and pd.notna(fila['Season']) and pd.notna(fila['Year']): #Aqui miro que si los juegos aparece solo el año hago lo mismo que antes
        return f"{fila['Year']} {fila['Season']}"
    else:
        return fila['Games']

In [ ]:
bronze_atletas_games_df['Games'] = bronze_atletas_games_df.apply(añadir_games, axis = 1)
#Aplico la funcion

In [114]:
bronze_atletas_games_df['Games'].value_counts(dropna=False)

Games
2000 Summer    13821
1996 Summer    13780
2016 Summer    13687
2008 Summer    13602
2004 Summer    13443
1992 Summer    12977
2012 Summer    12920
1988 Summer    12037
1972 Summer    10304
1984 Summer     9454
1976 Summer     8641
1968 Summer     8588
1964 Summer     7702
1980 Summer     7191
2014 Winter     4891
2010 Winter     4402
2006 Winter     4382
2002 Winter     4109
1998 Winter     3605
1992 Winter     3436
1994 Winter     3160
1988 Winter     2639
1984 Winter     2134
1968 Winter     1891
1976 Winter     1861
1964 Winter     1778
1980 Winter     1746
1972 Winter     1655
Name: count, dtype: int64

In [115]:
bronze_atletas_games_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199836 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199836 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198938 non-null  float64
 4   Height            189678 non-null  float64
 5   Weight            189061 non-null  float64
 6   NOC               199836 non-null  object
 7   Games             199836 non-null  object
 8   Year              199836 non-null  int64
 9   Season            199836 non-null  object
 10  City              199836 non-null  object
 11  Sport             199836 non-null  object
 12  Event             199836 non-null  object
 13  Medal             27342 non-null   object
 14  _BronzeTimestamp  199836 non-null  object
 15  Country           199836 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 25.9+ MB

In [116]:
bronze_atletas_games_df['City'].value_counts(dropna=False)
#Parece que está bien

City
Sydney            13821
Atlanta           13780
Rio de Janeiro    13687
Beijing           13602
Athina            13443
Barcelona         12977
London            12920
Seoul             12037
Munich            10304
Los Angeles        9454
Montreal           8641
Mexico City        8588
Tokyo              7702
Moskva             7191
Sochi              4891
Vancouver          4402
Torino             4382
Salt Lake City     4109
Innsbruck          3639
Nagano             3605
Albertville        3436
Lillehammer        3160
Calgary            2639
Sarajevo           2134
Grenoble           1891
Lake Placid        1746
Sapporo            1655
Name: count, dtype: int64

In [117]:

bronze_atletas_games_df['Sport'].value_counts(dropna=False)

Sport
Athletics                    26780
Swimming                     19377
Gymnastics                   16433
Cross Country Skiing          7885
Cycling                       7494
Rowing                        7418
Alpine Skiing                 7265
Shooting                      6939
Fencing                       5747
Canoeing                      5348
Biathlon                      4863
Wrestling                     4862
Sailing                       4749
Football                      4615
Speed Skating                 4460
Ice Hockey                    4422
Boxing                        4380
Equestrianism                 4214
Hockey                        4201
Judo                          3801
Handball                      3560
Volleyball                    3403
Basketball                    3395
Weightlifting                 2996
Water Polo                    2609
Bobsleigh                     2410
Archery                       2069
Ski Jumping                   2065
Tennis                        2024
Diving                        1963
Table Tennis                  1955
Figure Skating                1750
Short Track Speed Skating     1534
Luge                          1479
Badminton                     1457
Modern Pentathlon             1149
Nordic Combined               1062
Freestyle Skiing               937
Snowboarding                   936
Synchronized Swimming          909
Baseball                       894
Rhythmic Gymnastics            658
Taekwondo                      606
Beach Volleyball               564
Triathlon                      529
Softball                       478
Curling                        447
Rugby Sevens                   299
Skeleton                       174
Trampolining                   152
Golf                           120
Name: count, dtype: int64

In [118]:
#Hay un valor atipico ATH
bronze_atletas_games_df[bronze_atletas_games_df['Sport'] == 'ATH']
#Veo que corresponde con Athletics. Lo voy a sutituir

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, NOC, Games, Year, Season, City, Sport, Event, Medal, _BronzeTimestamp, Country]
Index: []

In [119]:
bronze_atletas_sport_df = bronze_atletas_games_df

In [120]:
bronze_atletas_sport_df['Sport'] = bronze_atletas_sport_df['Sport'].replace('ATH','Athletics')

In [121]:
bronze_atletas_sport_df['Sport'].value_counts(dropna=False)

Sport
Athletics                    26780
Swimming                     19377
Gymnastics                   16433
Cross Country Skiing          7885
Cycling                       7494
Rowing                        7418
Alpine Skiing                 7265
Shooting                      6939
Fencing                       5747
Canoeing                      5348
Biathlon                      4863
Wrestling                     4862
Sailing                       4749
Football                      4615
Speed Skating                 4460
Ice Hockey                    4422
Boxing                        4380
Equestrianism                 4214
Hockey                        4201
Judo                          3801
Handball                      3560
Volleyball                    3403
Basketball                    3395
Weightlifting                 2996
Water Polo                    2609
Bobsleigh                     2410
Archery                       2069
Ski Jumping                   2065
Tennis                        2024
Diving                        1963
Table Tennis                  1955
Figure Skating                1750
Short Track Speed Skating     1534
Luge                          1479
Badminton                     1457
Modern Pentathlon             1149
Nordic Combined               1062
Freestyle Skiing               937
Snowboarding                   936
Synchronized Swimming          909
Baseball                       894
Rhythmic Gymnastics            658
Taekwondo                      606
Beach Volleyball               564
Triathlon                      529
Softball                       478
Curling                        447
Rugby Sevens                   299
Skeleton                       174
Trampolining                   152
Golf                           120
Name: count, dtype: int64

In [122]:
#pd.set_option('display.max_rows', None)
bronze_atletas_sport_df['Event'].value_counts(dropna=False)
#Parece que estan bien

Event
Ice Hockey Men's Ice Hockey                                      3668
Football Men's Football                                          3603
Hockey Men's Hockey                                              2742
Handball Men's Handball                                          2159
Basketball Men's Basketball                                      2139
Water Polo Men's Water Polo                                      2121
Cycling Men's Road Race, Individual                              2025
Volleyball Men's Volleyball                                      1860
Volleyball Women's Volleyball                                    1543
Hockey Women's Hockey                                            1459
Bobsleigh Men's Four                                             1410
Handball Women's Handball                                        1401
Athletics Men's Marathon                                         1373
Athletics Men's 4 x 100 metres Relay                             1323
Rowing Men's Coxed Eights                                        1298
Alpine Skiing Men's Giant Slalom                                 1292
Alpine Skiing Men's Slalom                                       1278
Athletics Men's 4 x 400 metres Relay                             1268
Gymnastics Men's Individual All-Around                           1263
Basketball Women's Basketball                                    1256
Gymnastics Men's Parallel Bars                                   1247
Gymnastics Men's Floor Exercise                                  1247
Gymnastics Men's Horizontal Bar                                  1244
Gymnastics Men's Pommelled Horse                                 1241
Gymnastics Men's Rings                                           1229
Gymnastics Women's Individual All-Around                         1216
Gymnastics Women's Balance Beam                                  1209
Gymnastics Women's Uneven Bars                                   1207
Gymnastics Women's Floor Exercise                                1205
Swimming Men's 4 x 100 metres Medley Relay                       1162
Athletics Men's 100 metres                                       1139
Gymnastics Men's Horse Vault                                     1078
Gymnastics Men's Team All-Around                                 1041
Gymnastics Women's Horse Vault                                   1014
Football Women's Football                                        1012
Swimming Men's 4 x 200 metres Freestyle Relay                    1004
Swimming Women's 4 x 100 metres Medley Relay                     1004
Gymnastics Women's Team All-Around                                992
Biathlon Men's 20 kilometres                                      988
Cycling Men's 100 kilometres Team Time Trial                      943
Swimming Men's 4 x 100 metres Freestyle Relay                     937
Athletics Women's 4 x 100 metres Relay                            906
Baseball Men's Baseball                                           894
Athletics Men's 200 metres                                        886
Swimming Women's 4 x 100 metres Freestyle Relay                   885
Cross Country Skiing Men's 15 kilometres                          884
Biathlon Men's 4 x 7.5 kilometres Relay                           884
Cycling Men's Team Pursuit, 4,000 metres                          882
Equestrianism Mixed Jumping, Individual                           877
Swimming Men's 100 metres Freestyle                               859
Bobsleigh Men's Two                                               857
Cross Country Skiing Men's 4 x 10 kilometres Relay                854
Canoeing Men's Kayak Fours, 1,000 metres                          836
Athletics Men's 400 metres                                        835
Alpine Skiing Men's Downhill                                      833
Cross Country Skiing Men's 50 kilometres                          830
Alpine Skiing Women's Giant Slalom                                823
Athletics Women's 100 metres                                      823
Ski Jumping Men's Normal Hill, Individual                         815
Ski Jumping Men's Large Hill, Individual                          810
Alpine Skiing Women's Slalom                                      807
Equestrianism Mixed Jumping, Team                                 797
Fencing Men's epee, Team                                          794
Athletics Men's 800 metres                                        791
Cross Country Skiing Men's 30 kilometres                          790
Equestrianism Mixed Three-Day Event, Individual                   783
Biathlon Men's 10 kilometres Sprint                               773
Rowing Men's Coxless Fours                                        763
Fencing Men's epee, Individual                                    760
Ice Hockey Women's Ice Hockey                                     754
Athletics Women's 4 x 400 metres Relay                            749
Athletics Women's Marathon                                        745
Equestrianism Mixed Three-Day Event, Team                         739
Archery Men's Individual                                          735
Rowing Women's Coxed Eights                                       706
Sailing Mixed Three Person Keelboat                               705
Athletics Men's 1,500 metres                                      683
Fencing Men's Foil, Team                                          683
Fencing Men's Foil, Individual                                    674
Swimming Men's 200 metres Freestyle                               671
Swimming Men's 100 metres Butterfly                               667
Swimming Women's 100 metres Freestyle                             666
Archery Women's Individual                                        650
Swimming Men's 100 metres Breaststroke                            638
Athletics Women's 200 metres                                      638
Athletics Men's 20 kilometres Walk                                629
Athletics Men's 5,000 metres                                      628
Modern Pentathlon Men's Individual                                613
Athletics Men's 50 kilometres Walk                                611
Swimming Men's 50 metres Freestyle                                610
Athletics Women's 400 metres                                      594
Speed Skating Men's 1,500 metres                                  592
Fencing Men's Sabre, Team                                         591
Cross Country Skiing Women's 10 kilometres                        583
Cross Country Skiing Women's 4 x 5 kilometres Relay               576
Swimming Men's 400 metres Freestyle                               576
Swimming Men's 100 metres Backstroke                              575
Alpine Skiing Men's Super G                                       570
Equestrianism Mixed Dressage, Individual                          570
Fencing Men's Sabre, Individual                                   567
Athletics Men's 10,000 metres                                     566
Swimming Men's 200 metres Breaststroke                            566
Shooting Men's Small-Bore Rifle, Prone, 50 metres                 555
Swimming Women's 50 metres Freestyle                              554
Speed Skating Men's 500 metres                                    554
Fencing Women's Foil, Individual                                  554
Athletics Men's 400 metres Hurdles                                553
Fencing Women's Foil, Team                                        551
Rowing Men's Quadruple Sculls                                     550
Athletics Men's 110 metres Hurdles                                549
Athletics Men's Long Jump                                         547
Swimming Women's 100 metres Butterfly                             541
Alpine Skiing Women's Downhill                                    540
Luge Men's Singles                                                540
Cycling Women's Road Race, Individual                             537
Swimming Women's 100 metres Backstroke                            536
Table Tennis Men's Singles                                        536
Biathlon Women's 7.5 kilometres Sprint                            531
Swimming Women's 100 metres Breaststroke                          527
Luge Mixed (Men)'s Doubles                                        526
Biathlon Women's 15 kilometres                                    523
Rowing Men's Coxed Fours                                          518
Table Tennis Women's Singles                                      518
Swimming Men's 200 metres Butterfly                               515
Athletics Men's Triple Jump                                       513
Canoeing Men's Kayak Doubles, 1,000 metres                        512
Tennis Men's Singles                                              512
Athletics Men's 3,000 metres Steeplechase                         509
Athletics Men's High Jump                                         503
Athletics Women's 800 metres                                      503
Swimming Men's 200 metres Backstroke                              501
Cross Country Skiing Women's 5 kilometres                         501
Swimming Women's 200 metres Freestyle                             497
Tennis Women's Singles                                            496
Swimming Men's 200 metres Individual Medley                       496
Tennis Men's Doubles                                              494
Nordic Combined Men's Individual                                  490
Water Polo Women's Water Polo                                     488
Figure Skating Mixed Pairs                                        484
Sailing Men's Two Person Dinghy                                   480
Softball Women's Softball                                         478
Swimming Women's 200 metres Breaststroke                          475
Speed Skating Women's 1,000 metres                                475
Athletics Women's Long Jump                                       464
Speed Skating Men's 5,000 metres                                  462
Swimming Women's 4 x 200 metres Freestyle Relay                   462
Tennis Women's Doubles                                            460
Athletics Men's Decathlon                                         458
Figure Skating Mixed Ice Dancing                                  456
Shooting Men's Small-Bore Rifle, Three Positions, 50 metres       456
Swimming Men's 1,500 metres Freestyle                             455
Swimming Women's 400 metres Freestyle                             455
Boxing Men's Bantamweight                                         451
Speed Skating Women's 1,500 metres                                451
Athletics Men's Discus Throw                                      451
Speed Skating Men's 1,000 metres                                  450
Equestrianism Mixed Dressage, Team                                448
Swimming Men's 400 metres Individual Medley                       444
Athletics Women's High Jump                                       444
Boxing Men's Light-Welterweight                                   444
Speed Skating Women's 500 metres                                  444
Diving Men's Springboard                                          443
Shooting Men's Free Pistol, 50 metres                             442
Boxing Men's Welterweight                                         441
Boxing Men's Lightweight                                          438
Rowing Men's Coxless Pairs                                        438
Athletics Men's Javelin Throw                                     436
Judo Men's Lightweight                                            429
Shooting Men's Air Rifle, 10 metres                               429
Canoeing Women's Kayak Fours, 500 metres                          428
Athletics Women's 1,500 metres                                    427
Sailing Mixed Two Person Keelboat                                 427
Diving Men's Platform                                             425
Alpine Skiing Men's Combined                                      424
Swimming Women's 200 metres Backstroke                            422
Shooting Women's Air Rifle, 10 metres                             419
Synchronized Swimming Women's Team                                418
Athletics Women's 100 metres Hurdles                              417
Athletics Men's Hammer Throw                                      416
Rowing Men's Double Sculls                                        411
Ski Jumping Men's Large Hill, Team                                410
Shooting Mixed Skeet                                              410
Swimming Women's 200 metres Individual Medley                     409
Boxing Men's Flyweight                                            408
Athletics Men's Pole Vault                                        407
Athletics Men's Shot Put                                          405
Athletics Women's Javelin Throw                                   403
Judo Men's Middleweight                                           403
Alpine Skiing Women's Super G                                     402
Judo Men's Half-Middleweight                                      402
Boxing Men's Featherweight                                        400
Diving Women's Springboard                                        399
Canoeing Women's Kayak Doubles, 500 metres                        398
Cross Country Skiing Women's 30 kilometres                        394
Swimming Women's 400 metres Individual Medley                     393
Speed Skating Women's 3,000 metres                                386
Rhythmic Gymnastics Women's Group                                 385
Sailing Mixed One Person Dinghy                                   382
Cycling Men's Sprint                                              380
Swimming Women's 200 metres Butterfly                             378
Figure Skating Women's Singles                                    378
Canoeing Men's Kayak Doubles, 500 metres                          378
Canoeing Men's Canadian Doubles, 1,000 metres                     378
Diving Women's Platform                                           376
Athletics Women's Discus Throw                                    373
Modern Pentathlon Men's Team                                      372
Shooting Men's Air Pistol, 10 metres                              366
Luge Women's Singles                                              365
Rowing Men's Coxed Pairs                                          365
Shooting Mixed Trap                                               363
Archery Men's Team                                                360
Boxing Men's Middleweight                                         359
Sailing Mixed Two Person Heavyweight Dinghy                       358
Figure Skating Men's Singles                                      358
Sailing Mixed Multihull                                           357
Judo Men's Half-Lightweight                                       355
Judo Men's Half-Heavyweight                                       355
Boxing Men's Light-Flyweight                                      354
Shooting Women's Air Pistol, 10 metres                            348
Swimming Women's 800 metres Freestyle                             347
Shooting Women's Sporting Pistol, 25 metres                       342
Synchronized Swimming Women's Duet                                342
Judo Men's Extra-Lightweight                                      341
Boxing Men's Light-Heavyweight                                    340
Shooting Women's Small-Bore Rifle, Three Positions, 50 metres     339
Rowing Men's Lightweight Coxless Fours                            334
Judo Men's Heavyweight                                            332
Archery Women's Team                                              324
Table Tennis Men's Doubles                                        322
Athletics Women's Shot Put                                        322
Shooting Mixed Small-Bore Rifle, Prone, 50 metres                 321
Speed Skating Men's 10,000 metres                                 317
Sailing Women's Two Person Dinghy                                 316
Canoeing Men's Kayak Singles, 1,000 metres                        311
Weightlifting Men's Middle-Heavyweight                            311
Weightlifting Men's Light-Heavyweight                             309
Rowing Men's Single Sculls                                        308
Weightlifting Men's Lightweight                                   307
Sailing Men's Windsurfer                                          306
Badminton Women's Doubles                                         306
Badminton Women's Singles                                         304
Athletics Women's 400 metres Hurdles                              302
Nordic Combined Men's Team                                        301
Cross Country Skiing Men's Sprint                                 299
Weightlifting Men's Middleweight                                  298
Athletics Women's 20 kilometres Walk                              297
Wrestling Men's Welterweight, Freestyle                           297
Alpine Skiing Women's Combined                                    296
Cross Country Skiing Men's 10 kilometres                          294
Badminton Men's Doubles                                           294
Shooting Men's Rapid-Fire Pistol, 25 metres                       293
Weightlifting Men's Featherweight                                 293
Badminton Men's Singles                                           293
Athletics Women's Heptathlon                                      293
Weightlifting Men's Bantamweight                                  293
Boxing Men's Light-Middleweight                                   291
Table Tennis Women's Doubles                                      290
Beach Volleyball Men's Beach Volleyball                           288
Cycling Men's Mountainbike, Cross-Country                         288
Shooting Men's Trap                                               287
Wrestling Men's Featherweight, Freestyle                          286
Wrestling Men's Lightweight, Freestyle                            283
Athletics Women's 10,000 metres                                   279
Wrestling Men's Middleweight, Freestyle                           279
Cycling Men's 1,000 metres Time Trial                             278
Rowing Women's Quadruple Sculls                                   277
Beach Volleyball Women's Beach Volleyball                         276
Rhythmic Gymnastics Women's Individual                            273
Wrestling Men's Featherweight, Greco-Roman                        273
Cycling Men's Individual Pursuit, 4,000 metres                    273
Wrestling Men's Light-Heavyweight, Freestyle                      273
Wrestling Men's Lightweight, Greco-Roman                          271
Wrestling Men's Welterweight, Greco-Roman                         266
Triathlon Men's Olympic Distance                                  266
Triathlon Women's Olympic Distance                                263
Wrestling Men's Middleweight, Greco-Roman                         262
Canoeing Men's Canadian Doubles, 500 metres                       262
Badminton Mixed Doubles                                           260
Shooting Men's Skeet                                              253
Wrestling Men's Light-Heavyweight, Greco-Roman                    253
Cross Country Skiing Men's 10/15 kilometres Pursuit               251
Canoeing Women's Kayak Singles, 500 metres                        249
Sailing Men's One Person Dinghy                                   247
Short Track Speed Skating Men's 5,000 metres Relay                247
Cross Country Skiing Women's Sprint                               245

In [123]:
bronze_atletas_sport_df['Medal'].value_counts(dropna=False)
#Veo que estan bien

Medal
NaN       172494
Bronze      9333
Gold        9057
Silver      8952
Name: count, dtype: int64

In [124]:
bronze_atletas_sport_df.info()
#Ya he comprobado todas las columnas. ahora voy a quitar duplicados, que en este caso tienen que coincidir todas los valores de la columna, ya que un mismo atleta puede competir en unos mismos jjoo en varios eventos

<class 'pandas.core.frame.DataFrame'>
Index: 199836 entries, 0 to 199836
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                199836 non-null  int64
 1   Name              199836 non-null  object
 2   Sex               199836 non-null  object
 3   Age               198938 non-null  float64
 4   Height            189678 non-null  float64
 5   Weight            189061 non-null  float64
 6   NOC               199836 non-null  object
 7   Games             199836 non-null  object
 8   Year              199836 non-null  int64
 9   Season            199836 non-null  object
 10  City              199836 non-null  object
 11  Sport             199836 non-null  object
 12  Event             199836 non-null  object
 13  Medal             27342 non-null   object
 14  _BronzeTimestamp  199836 non-null  object
 15  Country           199836 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 25.9+ MB

In [125]:
bronze_atletas_sport_df.duplicated().any()
#No hay ninguna fila duplicada

np.False_

In [128]:
#Creo carpeta
os.makedirs(silver_path, exist_ok=True)

In [129]:
bronze_atletas_sport_df.to_csv(silver_file_path, index=False)