In [56]:
import os
import pandas as pd

In [57]:
gold_path = os.path.join(os.curdir, "Data_Lake","Gold")
gold_2_path = os.path.join(os.curdir, "Data_Lake","Gold")

In [58]:
gold_file_name = "atletas_gold.csv"
gold_2_file_name = "atletas_medallas_gold.csv"

In [59]:
gold_file_path = os.path.join(gold_path,gold_file_name)
gold_2_file_path = os.path.join(gold_2_path,gold_2_file_name)

In [60]:
gold_atletas_df = pd.read_csv(gold_file_path)

In [61]:
gold_atletas_df.head()

,ID,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal,_BronzeTimestamp,Country
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,2025-11-06 16:43:18.047773,China
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,2025-11-06 16:43:18.047773,China
2,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN,2025-11-06 16:43:18.047773,Finland
3,13,Minna Maarit Aalto,F,30.0,159.0,55.5,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN,2025-11-06 16:43:18.047773,Finland
4,13,Minna Maarit Aalto,F,34.0,159.0,55.5,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN,2025-11-06 16:43:18.047773,Finland

In [62]:
medallas_por_pais_df = gold_atletas_df.groupby(['Year','Country','Medal']).size().unstack(fill_value=0)
#Agrupo por año, pais y medallas para ver cuantas medallas consiguió cada pais en cada año. El unstack(fill_value=0) es para que aparezca en columnas las medallas por pais y para que los que no tengan medalla, me salga 0

In [63]:
print(medallas_por_pais_df)

Medal           Bronze  Gold  Silver
Year Country
1964 Argentina       0     0       1
     Australia      30     8       6
     Bahamas         0     2       0
     Belgium         1     2       0
     Brazil         12     0       0
...                ...   ...     ...
2016 Bahrain         0     1       1
     Grenada         0     0       1
     Fiji            0    13       0
     Jordan          0     1       0
     Kosovo          0     1       0

[863 rows x 3 columns]

In [64]:
participantes_df = gold_atletas_df.groupby(['Year','Country']).size().rename('Participantes')
#Creo un nuevo data en el que cuento todos los participantes por año y pais

In [65]:
participantes_medallas_por_pais_df = medallas_por_pais_df.join(participantes_df,how='outer').fillna(0)
#Junto ambas tablas

In [66]:
participantes_medallas_por_pais_df[['Bronze','Silver','Gold']] = participantes_medallas_por_pais_df[['Bronze','Silver','Gold']].astype(int)
#Cambio las columnas de las medallas a enteros para que me salga 4 en vez de 4.0

In [ ]:
participantes_medallas_por_pais_df['Total_Medallas'] = participantes_medallas_por_pais_df[['Gold','Silver','Bronze']].sum(axis=1)
#Añado una columna con el total de medallas

In [68]:
print(participantes_medallas_por_pais_df)

                  Bronze  Gold  Silver  Participantes  Total_Medallas
Year Country
1964 Afghanistan       0     0       0              8               0
     Algeria           0     0       0              7               0
     Argentina         0     0       1            148               1
     Australia        30     8       6            392              44
     Austria           0     0       0             82               0
...                  ...   ...     ...            ...             ...
2016 Venezuela         2     0       1            105               3
     Vietnam           0     1       1             28               2
     Yemen             0     0       0              3               0
     Zambia            0     0       0              7               0
     Zimbabwe          0     0       0             31               0

[2180 rows x 5 columns]

In [69]:
#Creo carpeta
os.makedirs(gold_2_path, exist_ok=True)

In [70]:
participantes_medallas_por_pais_df.to_csv(gold_2_file_path, index=True)